#root {
  max-width: 1280px;
  padding: 1rem;
  min-height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.mainTabs {
  max-width: calc(100% - 50px);
}

.icon {
  width: 30px !important;
  height: 30px !important;
}

.mainSheet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.mainSheet input {
  background-color: white;
}

.mainSheet > div {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mainSheet > div > div {
  display: flex;
  margin: 0 1rem;
  text-align: left;
  font-weight: bold;
  max-width: calc(100% - 2rem);
}

.radioDiv {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.selectedRadioDiv {
  border: 3px solid blue;
  font-weight: bold;
  color: blue;
}

.radioContainer {
  display: flex;
  flex-wrap: wrap;
}

#addCharacterAccordion {
  display: block;
  width: 100%;
}

#classColorSelectorContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.classColorSelector {
  width: 40px !important;
  height: 40px !important;
  border-radius: 5px;
  border: thin solid black;
  margin: 0 2px;
}

.characterSheet {
  position: relative;
}

.removeCharIcon {
  position: absolute !important;
  right: -15px;
  top: -15px;
  background-color: white !important;
}

.removeCharIconExtra {
  position: absolute !important;
  right: -25px;
  top: -25px;
  z-index: 10;
  background-color: white !important;
}

.iconExtra {
  width: 50px !important;
  height: 50px !important;
}
